@use './variables';

@mixin breakpoint-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
   
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
  }

@mixin container-header-styles () {
  color: $orange;
  font-size: 0.8rem;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: $font-family-fancy;
}